//Colors
$lightblue: #202028;
$darkblue: #181820;
$black: #141115;
$lime: #c6f91f;
$greenyellow: #ddf45b;
$red: #ed1c24;
$white: #f9f9f9;
$lightwhite: #f4f4f4;

//Own Variables
$body-text: var(--body-text);
$secondary-background: var(--secondary-background);

//Bootstrap override
$primary: $lime;
