//Colors
$lighterblue: #292934;
$lightblue: #202028;
$darkblue: #181820;
$black: #141115;
$lime: #c6f91f;
$green: #3ee577;
$turquoise: #42fcdb;
$red: #f71735;
$red-light: #db3445;
$orange: #ff4e00;
$orange-light: #ec9f05;
$blue: #045de9;
$blue-light: #09c6f9;
$white: #f9f9f9;
$lighterwhite: #f1f1f1;
$lightwhite: #f4f4f4;

//Own Variables
$body-text: var(--body-text);
$primary-background: var(--primary-background);
$secondary-background: var(--secondary-background);
$tertiary-background: var(--tertiary-background);

//Bootstrap override
$primary: $body-text;
$modal-content-color: $body-text;
$modal-content-bg: $secondary-background;
